.navbar:hover {
  background-color: white;
}

.nav-link {
  color: black;
}
.img {
  width: 500px;
  height: 350px;
}

.heading {
  font-family: "PT Serif", serif;
}

.lg-heading {
  font-size: 50px;
  font-family: "PT Serif", serif;
  margin: 0px 300px;
}

.lg2-heading {
  font-size: 50px;
  font-family: "PT Serif", serif;
}

.section {
  margin-top: 150px;
  margin-bottom: 130px;
}

.sections {
  margin-top: 70px;
  margin-bottom: 60px;
  margin-right: 200px;
  margin-left: 200px;
}

.sectionss {
  margin-top: 100px;
  margin-bottom: 60px;
  margin-right: 150px;
  margin-left: 150px;
  background-color: #696969;
}

.third-sect {
  margin-left: 145px;
  margin-right: 150px;
}

.third-sect-articles {
  margin-top: 100px;
  margin-bottom: 100px;
}

.report-art {
  margin-top: 50px;
  margin-bottom: 50px;
}
.text-info {
  text-decoration: none;
}

.fourth-sect-article {
  background-color: #f0edec;
  padding: 50px 200px;
}

.customer-since-img {
  margin: 50px 50px;
}

.four-sect {
  padding: 50px 200px;
}

.fifth-sect {
  background-color: #e8e7d3;
  padding: 100px 145px;
}

.fifthh {
  margin-top: 150px;
  margin-bottom: 00px;
}

.half-img {
  background: linear-gradient(to bottom, #e8e7d3 50%, white 0%);
}
.half-imgg {
  background: linear-gradient(to bottom, #f0edec 50%, white 0%);
}

.m-heading {
  margin: 0px 300px;
}

.report {
  background-color: #ffe6ff;
  padding-top: 150px;
  padding-bottom: 90px;
  padding-right: 100px;
  padding-left: 100px;
}

.report-2 {
  border: 1px solid black;
  padding-left: 50px;
  text-decoration: none;
  padding-top: 40px;
}

.report-h {
  font-size: 20px;
  font-family: "PT Serif", serif;
}

.courier {
  background-image: url("img/Staying_Resilient_in_2021.jpg");
  height: 400px;
  width: 300px;
}
